.c1
{
    background-color: aliceblue;
}
.c2
{
    background-color: aqua;
}
.c3
{
    background-color: blue;
}
.c4
{
    background-color: brown;
}
.c5
{
    background-color: burlywood;
}
.c6
{
    background-color: chocolate;
}

.tableh
{
    background-color: #1affff;
}
tr:nth-child(even)
{
    background-color:  #e6ffff;
}
.btn-primary
{
    background-color: #1affff !important;
    border-radius: 7em !important;
    color: black !important;
}

.navcolor
{
    background-color: #1affff;
    color: black;
}

